.bd-share-pop-content,
.bd-share-popup-layer,
.mask_share {
    position: fixed;
    top: 0;
    left: 0
}

.bd-share-pop-content li,
.bd-share-pop-content p,
.bd-share-pop-content table,
.bd-share-pop-content tbody,
.bd-share-pop-content td,
.bd-share-pop-content th,
.bd-share-pop-content thead,
.bd-share-pop-content tr,
.bd-share-pop-content ul {
    margin: 0;
    padding: 0
}

.bd-share-popup a,
.bd-share-popup a:hover {
    text-decoration: none;
    outline: 0
}

.bd-share-popup,
.bd-share-popup li {
    list-style: none
}

.bd-share .bd-cl {
    display: inline-block;
    zoom: 1
}

.bd-share .bd-cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.bd-share {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin: 2px auto 0
}

.bd-share .media {
    float: left;
    display: inline-block;
    width: 76px;
    height: 63px;
    padding: 17px 0 0
}

.bd-share .media a,
.bd-share-popup-header h3 {
    background: url(https://p0.ssl.qhmsg.com/t015b0b6292772f8bb5.png) no-repeat
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min--moz-device-pixel-ratio:2),
(min-resolute:300dpi) {
    .bd-share .media a,
    .bd-share-popup-header h3 {
        background-image: url(https://p1.ssl.qhmsg.com/t014299b4c5733a2c32.png);
        -webkit-background-size: 437px 217px;
        -moz-background-size: 437px 217px;
        -o-background-size: 437px 217px;
        background-size: 437px 217px
    }
}

.bd-share .media a {
    display: block;
    padding-top: 38px;
    height: 25px;
    font-size: 13px;
    color: #111;
    text-align: center
}

.bd-share .media .renren {
    background-position: -380px 4px
}

.bd-share .media .sinaminiblog {
    background-position: 19px 0
}

.bd-share .media .qqmb {
    background-position: -181px 0
}

.bd-share .media .kaixin001 {
    background-position: -181px -100px
}

.bd-share .media .qzone {
    background-position: -81px 0
}

.bd-share .media .sms {
    background-position: -81px -100px
}

.bd-share .media .mail {
    background-position: -281px -100px
}

.bd-share-popup-layer {
    z-index: 100000;
    background-color: #000;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    width: 100%
}

.bd-share-pop-content {
    z-index: 100001;
    width: 100%
}

.bd-share-pop-content table,
.bd-share-pop-content td,
.bd-share-pop-content tr {
    width: 100%;
    height: 100%
}

.bd-share-popup {
    display: inline-block;
    background: #f6f6f6;
    -webkit-box-shadow: 2px 2px 4px #333, -2px -2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333, -2px -2px 4px #333;
    -o-box-shadow: 2px 2px 4px #333, -2px -2px 4px #333;
    box-shadow: 2px 2px 4px #333, -2px -2px 4px #333;
    text-align: center
}

.bd-share-pop-content td {
    text-align: center;
    vertical-align: middle
}

.native .bd-share-popup {
    display: inline-block;
    width: 100%
}

.native td {
    text-align: center;
    vertical-align: bottom
}

.bd-share-popup-header {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #d9d8d8;
    padding-left: 13px;
    -webkit-box-shadow: 0 2px 3px #999;
    -moz-box-shadow: 0 2px 3px #999;
    -o-box-shadow: 0 2px 3px #999;
    box-shadow: 0 2px 3px #999;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eaeaea));
    background: -moz-linear-gradient(top, #fff, #eaeaea)
}

.bd-share-popup-header h3 {
    margin: 0;
    padding: 0 0 0 29px;
    text-align: left;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: 0 -189px
}

.bd-share-popup-footer {
    padding: 6px 4px 14px;
    background-color: #f6f6f6;
    border-top: 1px solid #d9d8d8
}

.bd-share-popup-close {
    display: block;
    height: 41px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    line-height: 41px;
    font-size: 15px;
    color: #666;
    text-align: center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eaeaea));
    background: -moz-linear-gradient(top, #fff, #eaeaea)
}

.mask_share {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .83);
    z-index: 9999;
    display: none
}

.panel-guide-corner {
    position: absolute;
    right: .2rem;
    top: .15rem;
    z-index: 155;
    text-align: right
}

.panel-guide-corner .corner-arrow {
    display: inline-block;
    width: .66rem;
    height: .89rem;
    background: url(/webview/resource/img/activity/bull/corner-arrow.png) no-repeat;
    background-size: cover
}

.panel-guide-corner .corner-txt {
    width: 2rem;
    height: .4rem;
    margin-right: .22rem;
    background: url(/webview/resource/img/activity/bull/corner-txt.png) no-repeat;
    background-size: cover
}

.panel-guide-menubar {
    position: absolute;
    right: 0;
    left: 0;
    bottom: .35rem;
    z-index: 155;
    text-align: center
}

.panel-guide-menubar .menubar-arrow {
    display: inline-block;
    width: .65rem;
    height: 1.05rem;
    background: url(/webview/resource/img/activity/bull/menubar-arrow.png) no-repeat;
    background-size: cover
}

.panel-guide-menubar .menubar-txt {
    width: 2.05rem;
    height: .44rem;
    margin: 0 auto;
    background: url(/webview/resource/img/activity/bull/menubar-txt.png) no-repeat;
    background-size: cover
}
